<form class="needs-validation" novalidate [formGroup]="form">
    <div class="form-row">
        <div class="col-sm-12" style="padding-top: 10px;">
          <label for="nome">Nome do Curso</label>
          <input type="text" class="form-control"
           id="nome" placeholder="Nome do Curso" 
           required formControlName="nome"
           [ngClass]="{ 'is-invalid': submited && form.get('nome').errors }">
          <div  class="red" *ngIf="submited && form.get('nome').errors" >
            Por Favor Informe um Nome para o Curso
          </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button class="btn btn-default" (click)="onCancel()" >Cancelar</button>
    </div>
</form>
